<h1>Welcome <%= @game.player.name %>!</h1>

<form action="/choice" method="post">
  <input type="submit" value="Rock" name="weapon">
  <input type="submit" value="Paper" name="weapon">
  <input type="submit" value="Scissors" name="weapon">
</form>
